<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
   
</body>

</html>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Emails</h1>
        
        <div class="ui center aligned header">
            <a href="/v1/events" style="text-decoration:none;">Events</a>
            <a href="/v1/participants" style="text-decoration:none;">Participants</a>
        </div>

        {% for email in emails %}
        <div class="ui segment">
            <label class="ui big header">Email Subject</label>
            <p>
                {{ email.email_subject }}
            </p>
            <label class="ui big header">Email Body</label>
            <p style="white-space: pre-line">
                {{ email.email_body }}
            </p>
            <label class="ui big header">Send Datetime</label>
            <p>
                {{ email.send_date_time }}
            </p>
            <label class="ui big header">Send Datetime</label>
            <p>{{ email.status }}</p>
            <label class="ui big header">Event ID</label>
            <p> {{ email.event_id }}</p></p>
        </div>
        {% endfor %}


        <form class="ui form" action="/save_emails" method="POST">
            <div class="field">
                <label>Email Subject</label>
                <input type="text" name="email_subject" placeholder="Hi there" required/><br>
                <label>Email Body</label>
                <textarea style="white-space: pre-line" name="email_body" placeholder="How are you today?" required></textarea><br>
                <label>Auto Send Datetime</label>
                <input type="datetime-local" name="send_date_time" required/><br>
                <label>Event</label>
                <select name="event_id" id="event_id">
                    {% for event in events %}
                        <option value="{{event.event_id}}">{{event.event_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>
        <hr> 
        {% for email in emails %}
        <div class="ui segment">
            <label class="ui big header">Email Subject</label>
            <p>{{ email.email_subject }}</p>
            <label class="ui big header">Email Body</label>
            <p style="white-space: pre-line">{{ email.email_body }}</p>
            <div>
                <form class="ui form" action="/v1/emails/{{email.email_id}}" method="POST">
                    <div class="field">
                        <label>Email Subject</label>
                        <input type="text" name="email_subject" placeholder="Hi there" required/><br>
                        <label>Email Body</label>
                        <textarea style="white-space: pre-line" name="email_body" placeholder="How are you today?" required></textarea><br>
                        <label>Auto Send Datetime</label>
                        <input type="datetime-local" name="send_date_time" required/><br>
                        <label>Event</label>
                        <select name="event_id" id="event_id">
                            {% for event in events %}
                                <option value="{{event.event_id}}">{{event.event_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="ui blue button" type="submit">UPDATE</button>
                </form>
                <a style="position:relative" class="ui red button" href="/v1/emails/delete/{{email.email_id}}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>